/* Sporting Grotesque */
@font-face {
    font-family: 'Sporting_Grotesque-Regular';
    src:    url('/fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.eot');
    src:    url('/fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.woff') format('woff'),
            url('/fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.woff2') format('woff2'),
            url('/fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.ttf') format('truetype'),
            url('/fonts/Sporting-Grotesque/Regular/Sporting_Grotesque-Regular_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sporting_Grotesque-Bold';
    src:    url('/fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.eot');
    src:    url('/fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.eot?#iefix') format('embedded-opentype'),
            url('/fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.woff') format('woff'),
            url('/fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.woff2') format('woff2'),
            url('/fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.ttf') format('truetype'),
            url('/fonts/Sporting-Grotesque/Bold/Sporting_Grotesque-Bold_web.svg#svgFontName') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Basteleur */
@font-face {
    font-family: 'Basteleur';
    src:    url('/fonts/basteleur/Basteleur-Bold.woff') format('woff'),
            url('/fonts/basteleur/Basteleur-Bold.woff2') format('woff2'),
            url('/fonts/basteleur/Basteleur-Bold.ttf') format('truetype'),
            url('/fonts/basteleur/Basteleur-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Mono */
@font-face {
    font-family: 'Mono';
    src:    url('/fonts/mono/Mono.otf') format('opentype'),
            url('/fonts/mono/mono.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}