/* Theme */
:root {
  /*
  --cFg: #383838;
  --cBg: #EDEFEE;
  */
  /*
  --cFg: #090b20;
  --cBg: #bec2c7;
  */
  --cFg: #090b20;
  --cBg: #bec2c7;

  --cFgInverted: var(--cBg);
  --cBgInverted: var(--cFg);

  --cAccent: #20A0B2;

  --fMono: 'SyneMono';
  --fDisplay: 'Gulax';
  /*
  --fDisplay: 'Basteleur';
  --fDisplay: 'Sporting_Grotesque-Regular';
  */
  --fRegular: 'SpaceGrotesk-Regular';

  /*
  --fMono: 'SyneMono';
  --fDisplay: 'SyneMono';
  --fRegular: 'Sporting_Grotesque-Regular';
  */

  --borderPrimary: 1px solid var(--cFg);
  --borderRadius1: 15px;
  --borderRadius2: 35px;
  --borderRadius3: 100%;

  --textShadowDisplay: 0px 0px 10px #813a7353;

  --pillShadow: inset 12px 12px 8px #ffffff21,
                inset -12px -12px 8px #000000ff;
}

/* Global styles */
html {
  /* TODO: dynamic font size */
  font-size: 18px;
  font-family: var(--fRegular);

  background-color: var(--cBg);
  color: var(--cFg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fDisplay);
  text-align: center;
}

a {
  text-decoration: none;
  text-decoration-color: var(--cFg);
  color: var(--cFg);

  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

button {
	cursor: pointer;
}


h1 {
  font-size: 8rem;
}

h2 {
  font-size: 6rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}